# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8-bom
dotnet_sort_system_directives_first = true

csharp_style_expression_bodied_methods = when_on_single_line:suggestion
dotnet_style_qualification_for_field = true:suggestion
dotnet_style_qualification_for_property = true:suggestion
dotnet_style_qualification_for_method = true:suggestion
dotnet_style_qualification_for_event = true:suggestion

dotnet_analyzer_diagnostic.category-Style.severity = warning
dotnet_diagnostic.CA1416.severity = none
dotnet_diagnostic.CS0436.severity = none
dotnet_diagnostic.IDE0130.severity = none
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.IDE0065.severity = none
